#izquierda {
	width: 20%;
	float:left;
	margin-top: 30px;
	padding: 20px; 
	position: fixed;
	background-color: #65727c;
}
#derecha {
	width: 70%;
	margin-top: 30px; 
	margin-bottom: 20px;
	float: right;
	padding: 20px;
	background-color: #3e4144;
	color: white;
	font-family: verdana;
	border: 5px solid black;
}
#perfil {
	width: 150px;
	height: 150px;
	border: 3px solid black;
	border-radius: 15px;
}
a {
	background-color: #ddd;
	font-style: no underline;
	margin: 5px 0;
	padding: 5px 10px;
    display: block;
	text-decoration: none;
	color: black;
	font-family: verdana;
	border-radius: 5px;
} 	
.menu:hover {
	background-color: #272727;
	color: white;
}
#Primaria {
	text-decoration: underline;
}
#Secundaria {
    text-decoration: underline;
}
.redes {
	border: 1px solid black;
	border-radius: 10px;
	width: 50px;
	height: 50px;
	background-color: #3e4144;
}
.intereses {
	border: 1px solid black;
	border-radius: 10px;
	width: 150px;
	height: 150px;
}
body {
background-color: #65727c;
}
p, h4, h1 {
	background-color: #3e4144;
}
.activo {
	background-color: #3e4144;
	color: blue;
}