<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="../styles/estilos.css">
    <title>CV-CURRICULUM VITAE</title>
  </head>
  <body>
    <div id="izquierda">
     <img id="perfil" src="../IMAGENES UTILIZADAS/IMAGEN FEDEX.png"/>
	  <br>
	  <br>
        <a class="menu" href="Datos Personales.html">DATOS PERSONALES</a>
		<br>
		<a class="menu" href="Formación.html">FORMACIÓN</a>
		<br>
        <a class="activo" href="Experiencia Laboral.html">EXPERIENCIA LABORAL</a>
	    <br>
		<a class="menu" href="Intereses.html">INTERESES</a>
	  <br>
	  <br>
    </div>
	<div id="derecha">
	 <h1>Federico Ayala</h1>
	  <hr>
	  <h2>Experiencia Laboral</h2>
	  <p> En un futuro quisiera trabajar en una empresa reconocida, mejorar el rendimiento y apoyar los esfuerzos de innovación, siempre teniendo en cuenta las normativas de calidad, seguridad, salud y protección del medio ambiente, en todo caso, un proyecto donde me sienta identificado con los valores de la empresa. En mi largo plazo, mi principal responsabilidad seria utilizar lo aprendido mientras continuó adquiriendo conocimientos y habilidades que puedan ayudar a mejorar la empresa, garantizando la prolijidad, seguridad y calidad.</p>
	  </div>
    <br>
  </body>
</html>