<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="styles/estilos.css">
    <title>CV-CURRICULUM VITAE</title>
  </head>
  <body>
    <div id="izquierda">
     <img id="perfil" src="IMAGENES UTILIZADAS/IMAGEN FEDEX.png"/>
	  <br>
	  <br>
        <a class="activo" href="templates\Datos Personales.html">DATOS PERSONALES</a>
		<br>
		<a class="menu" href="templates\Formación.html">FORMACIÓN</a>
		<br>
        <a class="menu" href="templates\Experiencia Laboral.html">EXPERIENCIA LABORAL</a>
	    <br>
		<a class="menu" href="templates\Intereses.html">INTERESES</a>
	  <br>
	  <br>
    </div>
	<div id="derecha">
	 <h1>Federico Ayala</h1>
	  <hr>
	  <h2>Datos Personales</h2>
	   <h4>Edad:</h4>
	    <p>14 años</p>
	     <h4>Fecha de nacimiento:</h4>
	      <p>10/06/2007</p>
	     <h4>DNI:</h4>
	      <p>47.804.949</p>
	     <h4>Dirección:</h4>
	    <p>Av. Suipacha 666</p> 
	   <h4>Email:</h4>
	   <p>federicoayala600@gmail.com</p>
	    <h4>Teléfono:</h4>
	     <p>11-3403-2811</p>
	      <h4>Redes Sociales</h4>
	     <table>
		  <tr>
	   <td><a href="https://www.instagram.com/fedee.ayala_/" target="_blank"><img class="redes" src="IMAGENES UTILIZADAS/INSTAGRAM.png"/></a></td>
	  <td><a href="https://www.facebook.com/" target="_blank"><img class="redes" src="IMAGENES UTILIZADAS/FACEBOOK.png"/></a></td>
	 <td><a href="https://www.twitter.com/" target="_blank"><img class="redes" src="IMAGENES UTILIZADAS/TWITTER.png"/></a></td>
	 </tr>
	 </table>
	</div>
    <br>
  </body>
</html>
